<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="addressBookMapper">

<select id="selcetAddressBook" resultType="AddressBook">
SELECT * FROM ADDRESSBOOK WHERE USER_ID = #{user_Id}
</select>
<insert id="insertAddressBook">
INSERT INTO ADDRESSBOOK(USER_ID,MAINADDRESS) VALUES(#{user_Id},#{mainAddress})
</insert>

<select id="selectMyAddressList" resultType="AddressBook">
SELECT * FROM ADDRESSBOOK WHERE USER_ID = #{user_Id}
</select>

</mapper>
