<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bookQnaMapper">
<select id="selectTotalCount" resultType="_int">
SELECT COUNT(*) FROM BOOKQNA WHERE BOOKISBN = #{bookISBN}
</select>
<select id="selectListAll" resultType="BookQna">
SELECT * FROM BOOKQNA WHERE BOOKISBN = #{bookISBN}
</select>
<select id="selectQnaDetail" resultType="BookQna">
SELECT * FROM BOOKQNA WHERE QNANO = #{qnaNo}
</select>
<select id="selectAnswerDetail" resultType="BookQnaAnswer">
SELECT * FROM BOOKQNAANSWER WHERE QNANO = #{qnaNo}
</select>
<select id="selectList" resultType="BookQna" parameterType="list">
SELECT * FROM BOOKQNA WHERE BOOKISBN = #{list[0]} AND QNACATEGORY = #{list[1]}
</select>
<select id="selectKindCount" parameterType="list" resultType="_int">
SELECT COUNT(*) FROM BOOKQNA WHERE BOOKISBN = #{list[0]} AND QNACATEGORY = #{list[1]}
</select>
<insert id="qnaInsert" parameterType="BookQna">
INSERT INTO BOOKQNA VALUES(BOOKQNA_SEQ.NEXTVAL, #{user_Id}, #{bookISBN}, #{bookTitle}, #{qnaCategory}, #{qnaTitle}, #{qnaContent}, SYSDATE, 0, #{qnaSecret})
</insert>
<update id="qnaUpdate" parameterType="BookQna">
UPDATE BOOKQNA SET QNATITLE = #{qnaTitle}, QNACONTENT =  #{qnaContent}, QNACATEGORY = #{qnaCategory},QNASECRET = #{qnaSecret} WHERE QNANO = #{qnaNo}
</update>
<delete id="qnaDelete">
DELETE FROM BOOKQNA WHERE QNANO = #{qnaNo}
</delete>
<select id="selectA_QnaListCount" parameterType="hashMap" resultType="_int">
SELECT COUNT(*) FROM BOOKQNA WHERE 
<if test="isAnswer==1">
QNAANSWER = 0 AND 
</if>
<choose>
<when test="searchKind==1">
QNATITLE LIKE #{keyword} ORDER BY QNADATE DESC
</when>
<when test="searchKind==2">
BOOKTITLE LIKE #{keyword} ORDER BY QNADATE DESC
</when>
</choose>
</select>
<select id="selectB_QnaList" parameterType="hashMap" resultType="BookQna">
SELECT * FROM BOOKQNA WHERE 
<if test="isAnswer==1">
QNAANSWER = 0 AND 
</if>
<choose>
<when test="searchKind==1">
QNATITLE LIKE #{keyword} ORDER BY QNADATE DESC
</when>
<when test="searchKind==2">
BOOKTITLE LIKE #{keyword} ORDER BY QNADATE DESC
</when>
</choose>
</select>
<select id="selectA_QnaDetail" resultType="BookQna">
SELECT * FROM BOOKQNA WHERE QNANO = #{qnaNo}
</select>
<select id="selectA_QnaAnswerDetail" resultType="BookQnaAnswer">
SELECT * FROM BOOKQNAANSWER WHERE QNANO = #{qnaNo}
</select>
<insert id="intsertQnaAnswer" parameterType="BookQnaAnswer">
INSERT INTO BOOKQNAANSWER VALUES (BOOKQNAANSWER_SEQ.NEXTVAL,#{qnaNo},#{qnaAnswerContent},SYSDATE)
</insert>
<update id="updateQnaInsertAnswer">
UPDATE BOOKQNA SET QNAANSWER = 1 WHERE QNANO = #{qnaNo}
</update>
<update id="updateQnaAnswer" parameterType="BookQnaAnswer">
UPDATE BOOKQNAANSWER SET QNAANSWERCONTENT = #{qnaAnswerContent} WHERE QNAANSWERNO = #{qnaAnswerNo}
</update>
<delete id="deleteQnaAnswer">
DELETE FROM BOOKQNAANSWER WHERE QNANO = #{qnaNo}
</delete>
<update id="updateQnaDeleteAnswer">
UPDATE BOOKQNA SET QNAANSWER = 0 WHERE QNANO = #{qnaNo}
</update>

<select id="selectMyQnaList" resultType="BookQna" parameterType="hashMap">
SELECT * FROM BOOKQNA WHERE BOOKISBN = #{bookISBN} AND USER_ID = #{user_Id}
</select>
<select id="selectMyQnaCount" parameterType="hashMap" resultType="_int">
SELECT COUNT(*) FROM BOOKQNA WHERE BOOKISBN = #{bookISBN} AND USER_ID = #{user_Id}
</select>

</mapper>
