<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="categoryMapper">

<select id="selectListCategoryCount" resultType="_int">
SELECT COUNT(*) FROM BOOK WHERE BOOKSUBCATEGORY = #{category} 
</select>
<select id="selectListCategory" parameterType="list" resultType="Book">
SELECT * FROM BOOK WHERE BOOKSUBCATEGORY = #{list[0]} 
<choose>
	<when test="list[1]==1">
	ORDER BY BOOKPUBLISHEDATE DESC, BOOKISBN
	</when>
	<when test="list[1]==3">
	ORDER BY BOOKTITLE, BOOKISBN
	</when>
	<when test="list[1]==4">
	ORDER BY BOOKRATING DESC,BOOKISBN
	</when>
	<when test="list[1]==5">
	ORDER BY BOOKPRICE DESC,BOOKISBN
	</when>
	<otherwise>
	ORDER BY BOOKPRICE,BOOKISBN
	</otherwise>
	</choose>
</select>
<select id="selectListCategoryBest" resultType="Book">
SELECT * FROM(
SELECT B.*,NVL(SELLSUM,0) SELL FROM BOOK B LEFT JOIN (
SELECT BOOKISBN,SUM(SELLQUNTITY) SELLSUM FROM SELLDATE WHERE SELLDATE > SYSDATE-8 GROUP BY BOOKISBN) S ON B.BOOKISBN=S.BOOKISBN 
WHERE BOOKSUBCATEGORY = #{category} 
ORDER BY SELL DESC, B.BOOKRATING DESC,B.BOOKRATINGCOUNT)
</select>



<select id="selectListMainCategoryCount" resultType="_int">
SELECT COUNT(*) FROM BOOK WHERE BOOKCATEGORY = #{mainCategory} 
</select>
<select id="selectListMainCategory" parameterType="list" resultType="Book">
SELECT * FROM BOOK WHERE BOOKCATEGORY = #{list[0]} 
<choose>
	<when test="list[1]==1">
	ORDER BY BOOKPUBLISHEDATE DESC, BOOKISBN
	</when>
	<when test="list[1]==3">
	ORDER BY BOOKTITLE, BOOKISBN
	</when>
	<when test="list[1]==4">
	ORDER BY BOOKRATING DESC,BOOKISBN
	</when>
	<when test="list[1]==5">
	ORDER BY BOOKPRICE DESC,BOOKISBN
	</when>
	<otherwise>
	ORDER BY BOOKPRICE,BOOKISBN
	</otherwise>
	</choose>
</select>
<select id="selectListMainCategoryBest" resultType="Book">
SELECT * FROM(
SELECT B.*,NVL(SELLSUM,0) SELL FROM BOOK B LEFT JOIN (
SELECT BOOKISBN,SUM(SELLQUNTITY) SELLSUM FROM SELLDATE WHERE SELLDATE > SYSDATE-8 GROUP BY BOOKISBN) S ON B.BOOKISBN=S.BOOKISBN 
WHERE BOOKCATEGORY = #{mainCategory} 
ORDER BY SELL DESC, B.BOOKRATING DESC,B.BOOKRATINGCOUNT)
</select>



</mapper>
