<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="clubMapper">

  <resultMap id="clubResultSet" type="Club">
		<id column="CLUB_NO" property="clubNo"/>
		<result column="REF_PLACE_NO" property="placeNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="CLUB_TITLE" property="clubTitle"/>
		<result column="INTRO" property="intro"/>
		<result column="ACTIVITY" property="activity"/>
		<result column="WANT" property="want"/>
		<result column="NOTWANT" property="notwant"/>
		<result column="TIMES" property="times"/>
		<result column="ONOFF_LINE" property="onoffLine"/>
		<result column="CLUB_CAPACITY" property="clubCapacity"/>
		<result column="CSTART_DATE" property="clubStartDate"/>
		<result column="CEND_DATE" property="clubEndDate"/>
		<result column="BK_NAME" property="bkName"/>
		<result column="BK_WRITER" property="bkWriter"/>
		<result column="BK_PUBLISHER" property="bkPublisher"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="CONDITION" property="condition"/>
		<result column="STATUS" property="status"/>
		<result column="HOST_COMMENT" property="hostComment"/>
		<result column="HOST_NAME" property="hostName"/>
		<result column="HSTART_DATE" property="hstartDate"/>
		<result column="HEND_DATE" property="hendDate"/>
		<result column="HWHAT_TODO" property="hwhatTodo"/>
		<result column="CATEGORY" property="category"/>
		
		<!-- mypage3 읽기용 -->
		<!-- 속성들 1)property:필드명  2)ofType:필드의클래스위치   -->
		<collection property="clubTimes" ofType="com.kh.bookmate.club.model.vo.ClubTime">
			<id column="CLUB_TIME_NO" property="timeNo" jdbcType="INTEGER" />
			<result column="CLUB_DATE" property="clubDate" jdbcType="DATE" />
			<result column="START_TIME" property="startTime" jdbcType="VARCHAR" />
			<result column="END_TIME" property="endTime" jdbcType="VARCHAR" />
		</collection>
	</resultMap>

	
	<resultMap id="clubAttachmentResultSet" type="ClubAttachment">
		<id column="FILE_NO" property="fileNo"/>
		<result column="REF_CLUB_NO" property="clubNo"/>
		<result column="ORIGINAL_NAME" property="originalName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="FILE_TYPE" property="fileType"/>
	</resultMap>
	
	

	<select id="checkHost" resultType="_int">
		SELECT COUNT(*)
		FROM CLUB
		WHERE HOST_NAME = #{hostName}
	</select>
	
	<!-- insert 후 key 값 가져온다. -->
	<insert id="saveStep1_1" parameterType="Club">
		INSERT INTO
		CLUB(CLUB_NO, USER_ID, HOST_NAME, HOST_COMMENT, HSTART_DATE, HEND_DATE, HWHAT_TODO)
		VALUES(SEQ_CNO.NEXTVAL, #{userId}, #{hostName}, #{hostComment},#{hstartDate}, #{hendDate}, #{hwhatTodo})
		<selectKey keyProperty="clubNo" resultType="_int" order="AFTER">
			SELECT SEQ_CNO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="saveStep1_2" parameterType="ClubAttachment">
		INSERT INTO CLUB_ATTACHMENT
		VALUES(SEQ_CANO.NEXTVAL, SEQ_CNO.CURRVAL, #{originalName}, #{changeName}, #{fileType})
	</insert>


	<update id="saveStep2_1" parameterType="Club">
		UPDATE CLUB
		SET CATEGORY=#{category}, CLUB_TITLE=#{clubTitle},
			INTRO=#{intro}, ACTIVITY=#{activity}, WANT=#{want}, NOTWANT=#{notwant},
			CLUB_CAPACITY=#{clubCapacity}
		WHERE CLUB_NO=#{clubNo} AND STATUS='Y'
	</update>
	
	<insert id="saveStep2_2" parameterType="ClubAttachment">
		INSERT INTO CLUB_ATTACHMENT
		VALUES(SEQ_CANO.NEXTVAL, #{clubNo}, #{originalName}, #{changeName}, #{fileType})
	</insert>
	
	<update id="saveStep3_1" parameterType="Club">
		UPDATE CLUB
		SET ONOFF_LINE=#{onoffLine}, TIMES=#{times},
			CSTART_DATE=#{clubStartDate}, CEND_DATE=#{clubEndDate}, 
			BK_NAME=#{bkName}, BK_WRITER=#{bkWriter}, BK_PUBLISHER=#{bkPublisher}
		WHERE CLUB_NO=#{clubNo} AND STATUS='Y'
	</update>
	
	<!-- foreach 시도1 : oracle에서는 적용 안됨
	<insert id="saveStep3_2" parameterType="java.util.Map">
        INSERT INTO CLUB_TIME(CLUB_TIME_NO, REF_CLUB_NO, CLUB_DATE, START_TIME, END_TIME)
        VALUES
        <foreach collection="list" item="item" separator=" , ">
            (SEQ_CTNO.NEXTVAL,#{item.clubNo},#{item.clubDate},#{item.startTime}, #{item.endTime})
        </foreach>
 	</insert> -->

	<!-- foreach 시도2 : sequence 적용 안됨
	<insert id="saveStep3_2" parameterType="java.util.Map">
		<foreach collection="list" item="item"
			open="INSERT ALL" close="SELECT * FROM DUAL">
			INTO CLUB_TIME(
			
			CLUB_TIME_NO,
			REF_CLUB_NO,
			CLUB_DATE,
			START_TIME,
			END_TIME
			
			)VALUES(
			
			SEQ_CTNO.NEXTVAL,
			#{item.clubNo},
			#{item.clubDate},
			#{item.startTime},
			#{item.endTime}
			
			)
		</foreach>
	</insert>  -->
	
	<!-- foreach 시도3 : 성공! -->
	<insert id="saveStep3_2" parameterType="java.util.Map">
		INSERT INTO CLUB_TIME(CLUB_TIME_NO,REF_CLUB_NO,CLUB_DATE,START_TIME,END_TIME)
		SELECT SEQ_CTNO.NEXTVAL, A.* 
		FROM(
			<foreach item="item" collection="list" separator="UNION ALL ">
				select 
				#{item.clubNo} as REF_CLUB_NO,
				#{item.clubDate} as CLUB_DATE,
				#{item.startTime} as START_TIME,
				#{item.endTime} as END_TIME
				from dual
			</foreach>) A
	</insert>
	
	<update id="insertClub" parameterType="Club">
		UPDATE CLUB
		SET ONOFF_LINE=#{onoffLine}, TIMES=#{times},
			CSTART_DATE=#{clubStartDate}, CEND_DATE=#{clubEndDate}, 
			BK_NAME=#{bkName}, BK_WRITER=#{bkWriter}, BK_PUBLISHER=#{bkPublisher},
			CONDITION=2
		WHERE CLUB_NO=#{clubNo} AND STATUS='Y'
	</update>
	
	
	<select id="selectList3" resultMap="clubResultSet">
		SELECT HOST_NAME, CLUB_NO, CATEGORY, CLUB_TITLE, ONOFF_LINE, CLUB_CAPACITY, CONDITION, B.CLUB_TIME_NO, B.CLUB_DATE, B.START_TIME, B.END_TIME
		FROM CLUB A
		LEFT JOIN CLUB_TIME B
		ON A.CLUB_NO = B.REF_CLUB_NO
		WHERE USER_ID=#{userId} AND A.STATUS='Y'
		ORDER BY CLUB_NO DESC	
	</select>
	
<!-- 독서모임개설관리(mypage3)-독서모임 삭제 -->
	<select id="selectPhotoList" resultMap="clubAttachmentResultSet">
		SELECT * FROM CLUB_ATTACHMENT
		WHERE REF_CLUB_NO IN
		<foreach item="item" collection="list" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>

	<delete id="deleteClub3" parameterType="_int">
		DELETE CLUB
		WHERE STATUS='Y' AND CLUB_NO IN 
		<foreach item="item" collection="list" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM CLUB
		WHERE STATUS='Y'	
		AND USER_ID = #{userId}	
	</select>
	
</mapper>
