<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="couponMapper">

<select id="selectCoupon" resultType="Coupon">
SELECT * FROM COUPON WHERE COUPONCODE = #{couponCode}
</select>
<insert id="insertCoupon" parameterType="Coupon">
INSERT INTO COUPON VALUES(#{couponCode},#{couponPoint},#{couponStartDate},#{couponEndDate})
</insert>


 <select id="checkUseCoupon" resultType="Coupon">
 
	SELECT COUNT(*) FROM COUPON
 	WHERE COUPONCODE = #{couponCode}

 
 </select> 
 
</mapper>
