<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ExchangeItemMapper">
 
	<insert id="insertExchangeItem" parameterType="ExchangeItem">

	INSERT INTO EXCHANGE_ITEM VALUES(SEQ_EXNO.NEXTVAL,#{user_Id},
	#{paymentDetailNo},DEFAULT,#{exchangeName},
	#{exchangePhone},#{exShippingAddress})

	</insert>


<select id="selectExchangeList" parameterType="ExchangeItem" resultType="ExchangeItem">

	SELECT * FROM EXCHANGE_ITEM
	WHERE EXCHANGESTATUS = 1

</select>


<select id="selectOrderDetailList"  parameterType="ExchangeItem" resultType="_int" >
 
	SELECT * FROM EXCHANGE_ITEM
	WHERE PAYMENTDETAILNO = #{paymentDetailNo}

 	
 
</select>

</mapper>
