<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mainMapper">

	<!-- 3.베스트 도서 -->
	<select id="selectBestList" resultType="Book">
		<![CDATA[
		SELECT BOOK.*
		FROM BOOK
		LEFT JOIN SELLDATE
		ON BOOK.BOOKISBN = SELLDATE.BOOKISBN
		WHERE BOOK.BOOKISBN IN (SELECT BOOKISBN
		                        FROM(SELECT BOOKISBN, SELLQUNTITY
		                            FROM SELLDATE
		                            WHERE SELLDATE >= SYSDATE-30  --7로 바꿔야 한다!
		                            ORDER BY SELLQUNTITY DESC)
		                        WHERE ROWNUM <= 30)
		ORDER BY SELLDATE.SELLQUNTITY DESC
		]]>
	</select>
	
	<!-- 2.오늘의 책 -->
	<select id="selectTodayList" resultType="Book">
		<![CDATA[
		SELECT A.*
		FROM BOOK A
		WHERE A.BOOKISBN IN (SELECT BOOKISBN
		                    FROM(SELECT DISTINCT BOOKISBN, MAX(REVIEWDATE)
		                        FROM BOOKREVIEW
		                        GROUP BY BOOKISBN
		                        ORDER BY MAX(REVIEWDATE) DESC)
		                    WHERE ROWNUM <= 8)
		AND A.BOOKCATEGORY = #{category_number}
		]]>
	</select>
	
	<select id="selectRecentView" resultType="RecentView">
		SELECT *
		FROM RECENTVIEW
		WHERE USERID= #{userId}
	</select>
	
	<insert id="insertRecentView" parameterType="hashmap">
		INSERT INTO RECENTVIEW(USERID, BOOKS)
		VALUES(#{userId}, #{bookISBN})
	</insert>
	
	<update id="updateRecentView" parameterType="hashmap">
		UPDATE RECENTVIEW
		SET BOOKS = #{bookISBNS}
		WHERE USERID = #{userId}
	</update>
	
	<select id="selectRecentViewList" resultType="Book">
		SELECT *
		FROM BOOK
		WHERE BOOKISBN IN
		<foreach item="item" collection="list" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>

</mapper>

