<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="paymentMapper">
 
<!-- 	<resultMap id="paymentResultSet" type="Payment">
		<id column="PAYMENTNO" property="paymentNo" />
		<result column="USER_ID" property="user_Id" />
		<result column="SHIPPINGNAME" property="shippingName" />
		<result column="SHIPPINGADDRESS" property="shippingAddress" />
		<result column="SHIPPINGPHONE" property="shippingPhone" />
		<result column="DELIVERYREQUSER" property="deliveryRequest" />
		<result column="SHIPDATE" property="shipDate" />
		<result column="USEPOINT" property="usePoint" />
		<result column="TOTALCOST" property="totalCost" />
		<result column="PAYMENTMETHOD" property="paymentMethod" />
		<result column="GETPOINT" property="getPoint" />
	</resultMap>
	
	
	<resultMap id="paymentDetailResultSet" type="PaymentDetail">
		<id column="PAYMENTDETAILNO" property="paymentDetailNo" />
		<result column="PAYMENTNO" property="paymentNo" />
		<result column="BOOKISBN" property="bookISBN" />
		<result column="BOOKMAINIMG" property="bookMainImg" />
		<result column="BOOKTITLE" property="bookTitle" />
		<result column="QUANTITY" property="quantity" />
		<result column="BOOKPRICE" property="bookPrice" />
		<result column="SALEPRICE" property="salePrice" />
		<result column="GETPOINT" property="getPoint" />
		<result column="DELIVERYDATE" property="deliveryDate" />
		<result column="DELIVERYSTATUS" property="deliveryStatus" />
	</resultMap> -->
	 
	
	<!-- 나의 주문목록 조회  -->
	<select id="selectMyOrderList" resultType ="Payment">
		 SELECT * FROM PAYMENT
		 WHERE USER_ID =#{user_Id}
		 ORDER BY PAYDATE DESC
		 
	</select>
	
	
	<!-- 나의 주문 목록 상세 조회  -->
	<select id="selectMyOrderListDetail" resultType="PaymentDetail" parameterType="_int">
		SELECT * FROM PAYMENTDETAIL
		WHERE PAYMENTNO=#{paymentNo}
		ORDER BY DELIVERYDATE  
	</select>
	
	
	<!-- 주문상태 취소로 변경하기 -->
	<select id="cancelMyOrder" resultType="PaymentDetail" parameterType="_int">
		UPDATE PAYMENTDETAIL
		SET DELIVERYSTATUS = 4
		WHERE PAYMENTDETAILNO = #{paymentDetailNo}
	</select>  
	
		<!-- 구매확정 상태로 변경하기 -->
	<select id="confirmOrder" resultType="PaymentDetail">
		UPDATE PAYMENTDETAIL
		SET DELIVERYSTATUS = 8
		WHERE PAYMENTDETAILNO = #{paymentDetailNo}
	</select>
	
	
	<!-- 교환페이지에 있는 정보 들고오기 1  -->
	<select id="applyExchange" resultType="PaymentDetail"  >
		
		SELECT * FROM PAYMENTDETAIL
		WHERE PAYMENTDETAILNO=#{paymentDetailNo}
				
	</select>
	<!-- 교환페이지에 있는 정보 들고오기 2  -->
	<select id="selectPaymentNo" resultType="Payment">
		SELECT * FROM PAYMENT
		WHERE PAYMENTNO=#{paymentNo}
	</select>



	<!-- [사용자] 교환상태 업데이트  -->
	<update id="updateUserExList" parameterType="PaymentDetail">
		UPDATE PAYMENTDETAIL
		SET DELIVERYSTATUS = 6
		WHERE PAYMENTDETAILNO = #{paymentDetailNo}
	</update>
	
	
	<!-- [관리자] 배송대기중 리스트  -->
	<select id="selectDeliveryList" resultType="PaymentDetail" >

	SELECT A.* , B.SHIPPINGNAME
	FROM PAYMENTDETAIL A
	JOIN PAYMENT B
	ON A.PAYMENTNO = B.PAYMENTNO
	WHERE DELIVERYSTATUS IN (1,2,3)

	</select>
	
	<!--[관리자] 배송상태업데이트 배송완료로 업데이트   -->
	<update id="updateDeliveryList" parameterType="_int">

	 UPDATE PAYMENTDETAIL
	 SET DELIVERYSTATUS = 3
	 WHERE PAYMENTDETAILNO = #{paymentDetailNo}
		
	</update> 

	 
	 <!-- 교환 완료 버튼을 누르면 교환/환불 대기중으로 상태변화하게  -->
	 <update id="exchangeWait" parameterType="PaymentDetail">
	 
	 UPDATE PAYMENTDETAIL
	 SET DELIVERYSTATUS = 7
	 WHERE PAYMENTDETAILNO = #{paymentDetailNo}
		
	 </update>
	 
	 <!--[사용자] 반품완료   -->
	<update id="updateUserReList" parameterType="_int">
		UPDATE PAYMENTDETAIL
		SET DELIVERYSTATUS = 5
		WHERE PAYMENTDETAILNO = #{paymentDetailNo}
	</update>
	
	<select id="cancelList" resultType="PaymentDetail">
		
		SELECT * FROM PAYMENTDETAIL
		WHERE DELIVERYSTATUS = 4  
	
	</select>
	
	<select id="refundAndExchangeList" resultType="PaymentDetail" >
	
		SELECT * FROM PAYMENTDETAIL
		WHERE DELIVERYSTATUS IN(5,6)
	
	
	</select>

	<!-- 페이먼트 디테일넘버 가지고 가서 페이먼트 디테일 객체 조회하기  -->
	<select id="selectPaymentDetail" parameterType="_int" resultType="PaymentDetail">
	
	SELECT * FROM PAYMENTDETAIL
	WHERE PAYMENTDETAILNO = #{paymentDetailNo}
	
	</select>
	
	<select id="selectPayment" parameterType="Payment" resultType="Payment">
	
	SELECT * FROM PAYMENT
	WHERE PAYMENTNO = #{paymentNo}
	
	</select>





	

	<insert id="insertPayment" parameterType="Payment">
	INSERT INTO PAYMENT VALUES (PAYMENT_SEQ.NEXTVAL,#{user_Id},#{shippingName},#{shippingAddress},#{shippingPhone},#{deliveryRequest},DEFAULT,#{usePoint},#{totalCost},#{paymentMethod},#{totalGetPoint},#{totalPayCost},#{deliveryCost})
	<selectKey keyProperty="paymentNo" resultType="_int" order="AFTER">
	SELECT PAYMENT_SEQ.CURRVAL FROM DUAL
	</selectKey>
	</insert>
	
	<insert id="insertPaymentDetail" parameterType="PaymentDetail">
	
	INSERT INTO PAYMENTDETAIL VALUES (PAYMENTDETAIL_SEQ.NEXTVAL,#{paymentNo},#{bookISBN},#{bookMainImg},#{bookTitle},#{quantity},#{bookPrice},#{salePrice},#{getPoint},#{deliveryDate},DEFAULT)
	</insert>
	
	 
	
	 

	<delete id="deleteBasket">
	DELETE FROM SHOPPINGBASKET WHERE BASKETNO = #{basketNo}
	</delete>
	
	<update id="updateUserPoint" parameterType="Payment">
	UPDATE USERS SET POINT = POINT + #{usePoint} WHERE USER_ID = #{user_Id}
	</update>
	
	 <update id="updateUserReturnPoint" parameterType="Payment">
		UPDATE USERS SET POINT = POINT - #{totalGetPoint}
		WHERE USER_ID = #{user_Id}
	</update> 
  
	<update id="updateBookStock" parameterType="ShoppingBasket">
	UPDATE BOOK SET BOOKSTOCK = BOOKSTOCK - #{quantity} WHERE BOOKISBN = #{bookISBN}
	</update>
	
	<select id="checkStock" resultType="_int">
	SELECT BOOKSTOCK FROM BOOK WHERE BOOKISBN = #{bookISBN}
	</select>
	
	
	<select id="selectReAndExList" resultType="PaymentDetail">

	SELECT * FROM PAYMENTDETAIL
	WHERE DELIVERYSTATUS IN (5,6)
	
	</select>
	
	
	
	
</mapper>

