<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reviewMapper">



<insert id="insertReview" parameterType="BookReview">
INSERT INTO BOOKREVIEW VALUES(BOOKREVIEW_SEQ.NEXTVAL,#{bookISBN},#{bookRating},#{reviewTitle},#{reviewWriter},#{reviewContent},SYSDATE,DEFAULT,DEFAULT)
</insert> 
<update id="updateReviewWriter" parameterType="BookReview">
UPDATE BUYREVIEW SET REVIEWSTATUS = 2 WHERE USER_ID = #{reviewWriter}
</update>
<select id="selectTotalCount" resultType="_int">
SELECT COUNT(*) FROM BOOKREVIEW WHERE BOOKISBN = #{bookISBN}
</select>
<select id="selectReviewList" resultType="BookReview" parameterType="list">
SELECT * FROM BOOKREVIEW WHERE BOOKISBN = #{list[0]} 
	<choose>
	<when test="list[1]==2">
	ORDER BY BOOKRATING DESC
	</when>
	<when test="list[1]==3">
	ORDER BY BOOKRATING
	</when>
	<otherwise>
	ORDER BY REVIEWDATE DESC
	</otherwise>
	</choose>

</select>
<select id="insertIdCheck" resultType="_int" parameterType="list">
SELECT NVL(SUM(REVIEWSTATUS),0) REVIEWSTATUS FROM BUYREVIEW WHERE USER_ID = #{list[0]} AND BOOKISBN = #{list[1]}
</select>
<select id="selectReviewReply" resultType="BookReviewReply">
SELECT * FROM BOOKREVIEWREPLY WHERE REVIEWNO = #{reviewNo} ORDER BY REVIEWREPLYINDEX DESC , REVIEWREPLYLEVEL
</select>
<update id="updateReview" parameterType="BookReview">
UPDATE BOOKREVIEW SET REVIEWTITLE = #{reviewTitle} ,REVIEWCONTENT = #{reviewContent} WHERE REVIEWNO = #{reviewNo}
</update>

<update id="updateReviewReplyInsert">
UPDATE BOOKREVIEW SET REVIEWSTATUS = REVIEWSTATUS+1, REVIEWREPLYCOUNT = REVIEWREPLYCOUNT+1  WHERE REVIEWNO = #{reviewNo} 
<selectKey keyProperty="reviewStatus" resultType="_int" order="AFTER">
SELECT REVIEWSTATUS FROM BOOKREVIEW  WHERE REVIEWNO = #{reviewNo} 
</selectKey>
</update>
<insert id="insertReviewReply" parameterType="BookReviewReply">
INSERT INTO BOOKREVIEWREPLY VALUES(BOOKREVIEWREPLY_SEQ.NEXTVAL,#{reviewNo},#{reviewReplyWriter},#{reviewReplyContent},SYSDATE,#{reviewReplyIndex},0,0)
</insert>
<update id="updateDeleteReply" parameterType="BookReviewReply">
UPDATE BOOKREVIEW SET REVIEWREPLYCOUNT = REVIEWREPLYCOUNT-1  WHERE REVIEWNO = #{reviewNo} 
</update>
<delete id="deleteReply" parameterType="BookReviewReply">
DELETE FROM BOOKREVIEWREPLY WHERE REVIEWREPLYNO = #{reviewReplyNo}
</delete>
<update id="updateReply" parameterType="BookReviewReply">
UPDATE BOOKREVIEWREPLY SET REVIEWREPLYCONTENT = #{reviewReplyContent} WHERE REVIEWREPLYNO = #{reviewReplyNo}
</update>
<insert id="insertAnswer" parameterType="BookReviewReply">
INSERT INTO BOOKREVIEWREPLY VALUES(BOOKREVIEWREPLY_SEQ.NEXTVAL,#{reviewNo},#{reviewReplyWriter},#{reviewReplyContent},SYSDATE,#{reviewReplyIndex},1,0)
</insert>
<update id="updateReplyAnswerInsert" parameterType="BookReviewReply">
UPDATE BOOKREVIEWREPLY SET REVIEWREPLYSTATUS = 1 WHERE REVIEWNO = #{reviewNo} AND REVIEWREPLYINDEX = #{reviewReplyIndex} AND REVIEWREPLYLEVEL = 0
</update>

<delete id="deleteAnswer" parameterType="BookReviewReply">
DELETE FROM BOOKREVIEWREPLY WHERE REVIEWREPLYNO = #{reviewReplyNo}
</delete>
<update id="updateReplyDeleteAnswer" parameterType="BookReviewReply">
UPDATE BOOKREVIEWREPLY SET REVIEWREPLYSTATUS = 0 WHERE REVIEWNO = #{reviewNo} AND REVIEWREPLYINDEX = #{reviewReplyIndex} AND REVIEWREPLYLEVEL = 0
</update>

<!-- 구매확정시 구매확정자만 리뷰를 작성할 수 있게 하기  -->
<insert id="insertConfirmOrder" parameterType="list">
	
	INSERT INTO BUYREVIEW VALUES( #{list[0]}, #{list[1]} , 1)

</insert>

<select id="selectReviewListMine" resultType="BookReview">
        
SELECT REVIEWTITLE, REVIEWWRITER,REVIEWCONTENT,REVIEWDATE, REVIEWSTATUS,A.BOOKISBN
FROM BOOKREVIEW A
JOIN BUYREVIEW B USING(REVIEWSTATUS)
WHERE REVIEWSTATUS = 1
AND USER_ID = #{user_Id}

</select>

<select id="selectReviewListMineCount" resultType="_int" parameterType="BookReview">
 
    SELECT COUNT(*) FROM BOOKREVIEW
    JOIN BUYREVIEW USING(REVIEWSTATUS)
    WHERE REVIEWSTATUS = 1
	AND USER_ID = #{user_Id}
</select>

</mapper>
