<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="searchMapper">
<select id="selectListKeywordCount" resultType="_int">
SELECT COUNT(*) FROM BOOK WHERE BOOKTITLE LIKE #{keyword} OR BOOKTITLE LIKE #{keyword} OR BOOKSUBTITLE LIKE #{keyword} OR BOOKWRITER LIKE #{keyword} OR BOOKPUBLISHER LIKE #{keyword}
</select>
<select id="selectListSearchKeyword" parameterType="list" resultType="Book">
SELECT * FROM BOOK WHERE BOOKTITLE LIKE #{list[0]} OR BOOKTITLE LIKE #{list[0]} OR BOOKSUBTITLE LIKE #{list[0]} OR BOOKWRITER LIKE #{list[0]} OR BOOKPUBLISHER LIKE #{list[0]} 
<choose>
	<when test="list[1]==1">
	ORDER BY BOOKPUBLISHEDATE DESC, BOOKISBN
	</when>
	<when test="list[1]==3">
	ORDER BY BOOKTITLE, BOOKISBN
	</when>
	<when test="list[1]==4">
	ORDER BY BOOKRATING DESC,BOOKISBN
	</when>
	<when test="list[1]==5">
	ORDER BY BOOKPRICE DESC,BOOKISBN
	</when>
	<otherwise>
	ORDER BY BOOKPRICE,BOOKISBN
	</otherwise>
	</choose>
</select>
<select id="selectListSearchBest" resultType="Book">
SELECT * FROM(
SELECT B.*,NVL(SELLSUM,0) SELL FROM BOOK B LEFT JOIN (
SELECT BOOKISBN,SUM(SELLQUNTITY) SELLSUM FROM SELLDATE WHERE SELLDATE > SYSDATE-8 GROUP BY BOOKISBN) S ON B.BOOKISBN=S.BOOKISBN 
WHERE BOOKTITLE LIKE #{keyword} OR BOOKTITLE LIKE #{keyword} OR BOOKSUBTITLE LIKE #{keyword} OR BOOKWRITER LIKE #{keyword} OR BOOKPUBLISHER LIKE #{keyword} 
ORDER BY SELL DESC, B.BOOKRATING DESC,B.BOOKRATINGCOUNT)
</select>
</mapper>



