<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ubookPaymentMapper">

	 	<resultMap id="ubookResultSet" type="Ubook">
		<id property="ubookNo" column="UBOOK_NO"/>
		<result property="bSellerNo" column="BSELLER_NO"/>
		<result property="ubookName" column="UBOOK_NAME"/>
		<result property="ubookWriter" column="UBOOK_WRITER"/>
		<result property="ubookIsbn" column="UBOOK_ISBN"/>
		<result property="ubCategory" column="UB_CATEGORY"/>
		<result property="ubookTrans" column="UBOOK_TRANS"/>
		<result property="ubookPub" column="UBOOK_PUB"/>
		<result property="ubookPubDate" column="UBOOK_PUBDATE"/>		
		<result property="ubookOPrice" column="UBOOK_O_PRICE"/>		
		<result property="ubookPrice" column="UBOOK_PRICE"/>		
		<result property="ubookStock" column="UBOOK_STOCK"/>
		<result property="ubookQual" column="UBOOK_QUAL"/>		
		<result property="ubookDetail" column="UBOOK_DETAIL"/>	
		<result property="ubookContent" column="UBOOK_CONTENT"/>		
		<result property="ubookImg" column="UBOOK_IMG"/>		
		<result property="ubookStatus" column="UBOOK_STATUS"/>
		<result property="sellerNickN" column="SELLER_NICKN"/>
		<result property="sellerNo" column="SELLER_NO"/>
		<result property="sellerId" column="SELLER_ID"/>
	</resultMap>
	
	 	<resultMap id="sellerResultSet" type="Seller">
		<id property="sellerNo" column="SELLER_NO"/>
		<result property="sellerId" column="SELLER_ID"/>
		<result property="sellerNickN" column="SELLER_NICKN"/>
		<result property="sellerEmail" column="SELLER_EMAIL"/>
		<result property="sellerPhone" column="SELLER_PHONE"/>
		<result property="sellerDel" column="SELLER_DEL"/>
		<result property="sellerDelP1" column="SELLER_DEL_PRICE1"/>
		<result property="sellerDelP2" column="SELLER_DEL_PRICE2"/>
		<result property="sellerAddress" column="SELLER_ADDRESS"/>		
		<result property="enrollDate" column="ENROLL_DATE"/>		
		<result property="modifyDate" column="MODIFY_DATE"/>		
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<insert id="insertUbookPayment" parameterType="UbookPayment">
	INSERT INTO UBOOK_PAYMENT VALUES (SEQ_UBPAYMENTNO.NEXTVAL,#{userIdUb},#{shippingNameUb},#{shippingAddressUb},#{shippingPhoneUb},#{deliveryRequestUb},DEFAULT,#{totalCostUb},0,#{totalPayCostUb},#{deliveryCostUb})
	<selectKey keyProperty="paymentNoUb" resultType="_int" order="AFTER">
	SELECT SEQ_UBPAYMENTNO.CURRVAL FROM DUAL
	</selectKey>
	</insert>
	
	<insert id="insertUbookPaymentDetailUb" parameterType="UbookPaymentDetail">
	INSERT INTO UBOOK_PAYMENTDETAIL VALUES (SEQ_UBPAYMENTDETAILNO.NEXTVAL,#{paymentNoUb},#{bSellerNo},#{ubookNoUb},#{ubookImgUb},#{ubookNameUb},#{quantityUb},#{ubookOPriceUb},#{ubookPriceUb},#{deliveryDateUb},DEFAULT)
	</insert>
	
	<delete id="deleteCart">
	DELETE FROM UBOOK_CART WHERE CARTNO = #{cartNo}
	</delete>
	
	<!-- 도서 결제될 때 수량도 변경 #{ubookNoUb}-->
	<update id="updateUbookStock" parameterType="Ubook">
		UPDATE UBOOK
		SET
		UBOOK_STOCK = (UBOOK_STOCK-1)
		WHERE UBOOK_NO=#{ubookNoUb}
		AND UBOOK_STOCK != 0
	</update>
	
	<!-- 나의 주문목록 조회  -->
	<select id="selectUbookMyOrderList" resultType ="UbookPayment">
		 SELECT * FROM UBOOK_PAYMENT
		 WHERE USERIDUB =#{userIdUb}
		 ORDER BY PAYDATEUB DESC
	</select>
	
	
	<!-- 나의 주문 목록 상세 조회  -->
	<select id="selectUbookMyOrderDetailList" resultType="UbookPaymentDetail" parameterType="_int">
		SELECT * FROM UBOOK_PAYMENTDETAIL
		WHERE PAYMENTNOUB=#{paymentNoUb}
		ORDER BY DELIVERYDATEUB DESC
	</select>
	
	
		<!-- 구매확정 상태로 변경하기 -->
	<select id="confirmOrderUbook" resultType="UbookPaymentDetail" >
		UPDATE UBOOK_PAYMENTDETAIL
		SET DELIVERYSTATUSUB = '수취확인'
		WHERE PAYMENTDETAILNOUB = ${paymentDetailNoUb}
	</select>
	
	
	
	
	<select id="selectDeliveryList" parameterType="UbookPaymentDetail">
		
		SELECT * FROM UBOOK_PAYMENTDETAIL
		WHERE PAYMENTNOUB = #{paymentNoUb}
	
	</select>
	
	<select id="selectDeliveryPaymentNoList" resultType="UbookPayment">
	
	SELECT * FROM UBOOK_PAYMENT
	WHERE PAYMENTNOUB IN
	<foreach item="item" collection="list" open="(" close=")" separator=",">
		#{item}
	</foreach>
	
	</select>

	<!-- 판매자 - 주문된 도서 정보 확인하기 -->
	<select id="selectOrderUbookList" resultType="UbookPaymentDetail" parameterType="_int">
	SELECT * FROM UBOOK_PAYMENTDETAIL
	WHERE BSELLERNO=#{sellerNo}
	AND DELIVERYSTATUSUB != '수취확인'
	<!-- SELECT UPAYDETAIL.*
	FROM (SELECT * FROM UBOOK_PAYMENT WHERE PAYMENTNOUB = #{paymentNoUb}) UPAY JOIN UBOOK_PAYMENTDETAIL UPAYDETAIL ON (UPAY.PAYMENTNOUB=UPAYDETAIL.PAYMENTNOUB)
    WHERE UPAYDETAIL.BSELLERNO=#{sellerNo}; -->
	</select>
	
	<!-- 판매자 - 도서 주문한 회원 정보 확인하기 -->
	<select id="selectOrderUserInfo" resultType="UbookPayment" parameterType="_int">
	SELECT * FROM UBOOK_PAYMENT
	WHERE PAYMENTNOUB=#{paymentNoUb}
	</select>
	
	<!-- 판매자 - 도서 주문한 도서 상세 정보 확인하기 -->
	<select id="selectOrderBookInfo" resultType="UbookPaymentDetail" parameterType="UbookPaymentDetail">
	SELECT * FROM UBOOK_PAYMENTDETAIL
	WHERE PAYMENTNOUB=#{paymentNoUb}
	AND UBOOKNOUB=#{ubookNoUb}
	</select>
	
	<!-- 판매자 - 주문한 도서 주문 상태 변경 -->
	<update id="updateOrderInfo" parameterType="UbookPaymentDetail">
	UPDATE UBOOK_PAYMENTDETAIL
	SET
	DELIVERYDATEUB = SYSDATE,
	DELIVERYSTATUSUB = #{deliveryStatusUb}
	WHERE PAYMENTNOUB=#{paymentNoUb} 
	</update>
	
	<!-- 판매자 - 판매 완료 도서 정보 확인하기 -->
	<select id="selectSoldUbookList" resultType="UbookPaymentDetail" parameterType="_int">
	SELECT * FROM UBOOK_PAYMENTDETAIL
	WHERE BSELLERNO=#{sellerNo}
	AND DELIVERYSTATUSUB = '수취확인'
	<!--AND DELIVERYSTATUSUB = #{deliveryStatusUb}
	 SELECT UPAYDETAIL.*
	FROM (SELECT * FROM UBOOK_PAYMENT WHERE PAYMENTNOUB = #{paymentNoUb}) UPAY JOIN UBOOK_PAYMENTDETAIL UPAYDETAIL ON (UPAY.PAYMENTNOUB=UPAYDETAIL.PAYMENTNOUB)
    WHERE UPAYDETAIL.BSELLERNO=#{sellerNo}; -->
	</select>
	
</mapper>
