<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ubookMapper">
 	<resultMap id="ubookResultSet" type="Ubook">
		<id property="ubookNo" column="UBOOK_NO"/>
		<result property="bSellerNo" column="BSELLER_NO"/>
		<result property="ubookName" column="UBOOK_NAME"/>
		<result property="ubookWriter" column="UBOOK_WRITER"/>
		<result property="ubookIsbn" column="UBOOK_ISBN"/>
		<result property="ubCategory" column="UB_CATEGORY"/>
		<result property="ubookTrans" column="UBOOK_TRANS"/>
		<result property="ubookPub" column="UBOOK_PUB"/>
		<result property="ubookPubDate" column="UBOOK_PUBDATE"/>		
		<result property="ubookOPrice" column="UBOOK_O_PRICE"/>		
		<result property="ubookPrice" column="UBOOK_PRICE"/>		
		<result property="ubookStock" column="UBOOK_STOCK"/>
		<result property="ubookQual" column="UBOOK_QUAL"/>		
		<result property="ubookDetail" column="UBOOK_DETAIL"/>	
		<result property="ubookContent" column="UBOOK_CONTENT"/>		
		<result property="ubookImg" column="UBOOK_IMG"/>		
		<result property="ubookStatus" column="UBOOK_STATUS"/>
	</resultMap>
	
	<!-- 도서 상세 -->
	<select id="selectbookList" resultMap="ubookResultSet">
		SELECT U.*
		FROM UBOOK U, SELLER S
		WHERE U.BSELLER_NO = #{sellerNo}
		AND U.BSELLER_NO = S.SELLER_NO
	</select>
	
	
	<!-- 중고도서 등록 -->
	<insert id="insertUbook" parameterType="Ubook">
		INSERT INTO UBOOK VALUES (SEQ_UBNO.NEXTVAL,#{bSellerNo},#{ubookName},#{ubookWriter},#{ubookIsbn},#{ubCategory}
								,#{ubookTrans},#{ubookPub},#{ubookPubDate},#{ubookOPrice},#{ubookPrice}
								,#{ubookStock},#{ubookQual},#{ubookDetail},#{ubookContent},#{ubookImg},DEFAULT)
	</insert>

	<!-- 도서 상세 -->
	<select id="selectUbook" parameterType="_int" resultMap="ubookResultSet">
		SELECT *
		FROM UBOOK
		WHERE UBOOK_NO = #{ubookNo}
		AND UBOOK_STATUS = 'Y'
	</select>
	
	<!-- 도서 카테고리별 리스트 -->
	<select id="selectUbookCateList" resultType="Ubook">
		SELECT * FROM UBOOK UB_CATEGORY = #{ubCategory}
	</select>

	<!-- 도서 수정 -->
	<update id="updateUbook" parameterType="Ubook">
		UPDATE UBOOK
		SET
		UBOOK_NAME=#{ubookName},
		UBOOK_WRITER=#{ubookWriter},
		UBOOK_ISBN=#{ubookIsbn},
		UB_CATEGORY=#{ubCategory},
		UBOOK_TRANS=#{ubookTrans},
		UBOOK_PUB=#{ubookPub},
		UBOOK_PUBDATE=#{ubookPubDate},
		UBOOK_O_PRICE=#{ubookOPrice},
		UBOOK_PRICE=#{ubookPrice},
		UBOOK_STOCK=#{ubookStock},
		UBOOK_QUAL=#{ubookQual},
		UBOOK_DETAIL=#{ubookDetail},
		UBOOK_CONTENT=#{ubookContent},
		UBOOK_IMG=#{ubookImg}
		WHERE BSELLER_NO=#{bSellerNo}
		AND UBOOK_STATUS='Y'
	</update>

	<!-- 도서 삭제 -->
	<delete id="deleteMyUbook" parameterType="_int">
		DELETE FROM UBOOK
		WHERE UBOOK_NO=#{ubookNo}
	</delete>
	
	<!-- 도서 목록 -->
	<select id="ubookCateList1" resultMap="ubookResultSet">
		SELECT *
		FROM UBOOK
		WHERE UBOOK_STATUS = 'Y'
		AND UB_CATEGORY = #{ubCategory}
		ORDER BY UBOOK_NO DESC
	</select>
		
	<!--  카테고리 -->
	<select id="selectCategory" parameterType="_int" resultMap="ubookResultSet">
		SELECT * FROM UBOOK
		WHERE UB_CATEGORY=#{ubCategory}
	</select>
</mapper>
