<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>

		<typeAlias type="com.kh.bookmate.book.model.vo.Book" alias="Book" />
		<typeAlias type="com.kh.bookmate.club.model.vo.Club" alias="Club" />
		<typeAlias type="com.kh.bookmate.club.model.vo.ClubAttachment" alias="ClubAttachment"/>
		<typeAlias type="com.kh.bookmate.club.model.vo.ClubTime" alias="ClubTime"/>
		<typeAlias type="com.kh.bookmate.clubApply.model.vo.ClubApply" alias="ClubApply" />
		<typeAlias type="com.kh.bookmate.clubApply.model.vo.ClubWish" alias="ClubWish" />
		<typeAlias type="com.kh.bookmate.user.model.vo.User" alias="myPage"/>
		<typeAlias type="com.kh.bookmate.user.model.vo.User" alias="User"/>
		<typeAlias type="com.kh.bookmate.seller.model.vo.Seller" alias="Seller"/>
		<typeAlias type="com.kh.bookmate.ubook.model.vo.Ubook" alias="Ubook"/>
		<typeAlias type="com.kh.bookmate.payment.model.vo.Payment" alias="Payment"/>
		<typeAlias type="com.kh.bookmate.shoppingbasket.model.vo.ShoppingBasket" alias="ShoppingBasket"/>
		<typeAlias type="com.kh.bookmate.payment.model.vo.PaymentDetail" alias="PaymentDetail"/>
	</typeAliases>
	<typeHandlers>
		<typeHandler
			handler="org.apache.ibatis.type.LocalDateTypeHandler" />
	</typeHandlers>

	<mappers>
		<mapper resource="/mappers/basket-mapper.xml"/>
		<mapper resource="/mappers/book-mapper.xml" />
		<mapper resource="/mappers/club-mapper.xml" />
		<mapper resource="/mappers/clubApply-mapper.xml" />
		<mapper resource="/mappers/myPage-mapper.xml"/>
		<mapper resource="/mappers/user-mapper.xml"/>
		<mapper resource="/mappers/seller-mapper.xml"/>
		<mapper resource="/mappers/ubook-mapper.xml"/>
		<mapper resource="/mappers/payment-mapper.xml"/>
	</mappers>




</configuration>
