<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		
		<typeAlias type="com.kh.bookmate.book.model.vo.Book" alias="Book"/>
		<typeAlias type="com.kh.bookmate.club.model.vo.Club" alias="Club"/>
		<typeAlias type="com.kh.bookmate.club.model.vo.ClubAttachment" alias="ClubAttachment"/>
		<typeAlias type="com.kh.bookmate.user.model.vo.User" alias="User"/>
		
	</typeAliases>


	<mappers>
		
		<mapper resource="/mappers/book-mapper.xml"/>
		<mapper resource="/mappers/club-mapper.xml"/>
		<mapper resource="/mappers/user-mapper.xml"/>
		
	</mappers>


</configuration>
